---
import Layout from '../layouts/Layout.astro';
import HeroSectionTop from '../components/HeroSectionTop.astro';
import ProductSectionMiddle from '../components/ProductSectionMiddle.astro';
import FAQSectionBottom from '../components/FAQSectionBottom.astro';
---

<Layout title="DreamHost Assessment - Logan Murray"
	description="A Quick Implementation of a mockup, provided by DreamHost">
	<main>
		<HeroSectionTop />
		<ProductSectionMiddle />
		<FAQSectionBottom />
	</main>
</Layout>

<style lang="scss" is:global>
	:root {
		--base-blue: #0073ec;
		--dark-blue: #09294c;
		--white: #fbfbfb;
		--semi-white: #e0e4e8;
		--desktop-width: 1920px;
		--tablet-width: 1024px;
		--mobile-width-max: 768px;
		--mobile-width-min: 375px;
	}

	$base-blue: #0073ec;
	$dark-blue: #09294c;
	$white: #fbfbfb;
	$semi-white: #e0e4e8;
	$off-black: #1d1d1d;
	$desktop-width: 1920px;
	$tablet-width: 1024px;
	$mobile-width-max: 768px;
	$mobile-width-min: 375px;

	.bttn.bttn-primary {
		background-color: var(--base-blue);
		color: #fff;
		font-size: clamp(16px, 1.5vw, 24px);
		padding: 1em 1.3em;
		border-radius: 2em;
		font-weight: 600;

		&:hover {
			background-color: darken($base-blue, 5%);
			color: #fff;
		}
	}
</style>