---

---

<div class="faq">
    <div class="faq__section-left">
        <h2>Frequently Asked Questions</h2>
    </div>
    <div class="faq__section-right">
        <!-- an accordion style faq section -->
        <div class="faq__accordion-outer">
            <ol class="accordion__list">
                <li class="accordion__item">
                    <div class="accordion__item-question">
                        <span>
                            What is the difference between a “free” and a “paid” account?
                        </span>
                        <span class="accordion__item-title-icon">
                            <img src="/assets/images/image_5.svg" alt="plus icon">
                        </span>
                    </div>
                    <div class="accordion__item-answer">
                        <p>
                            A free account is a personal account that is not tied to a specific company. A paid account
                            is a personal account that is tied to a specific company.
                        </p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<style lang="scss">
    .faq {
        padding: 2em 0;
    }
</style>