// regular font version
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"), local("Gilroy-Regular"),
        url(../font/Fonts/gilroy-regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
// medium font version
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"), local("Gilroy-Medium"),
        url(../font/Fonts/gilroy-medium.otf) format("opentype");
    font-weight: 500;
    font-style: normal;
}
// semibold font version
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"), local("Gilroy-Semibold"),
        url(../font/Fonts/gilroy-semibold.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}
// bold font version
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"), local("Gilroy-Bold"),
        url(../font/Fonts/gilroy-bold.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}
// some variables
$base-blue: #0073ec;
$dark-blue: #09294c;
$white: #fbfbfb;
$semi-white: #e0e4e8;
$off-black: #1d1d1d;
$desktop-width: 1920px;
$tablet-width: 1024px;
$mobile-width-max: 768px;
$mobile-width-min: 375px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    background-color: $white;
    color: $off-black;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $off-black;
}
